/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   background-color: #fff;
}

/* Div Body */
#grilla {
   display: grid;
   grid-template-areas:
   "header"
   "servicio"
   "publicidad"
   "servicioTecnico"
   "footer";
   grid-template-rows: auto auto auto auto auto; 
   grid-template-columns: auto;
}
.border {
   border: 1px solid black;
}
/* Header y Nav */
header {
   grid-area: header;
}
/* Nav */

.nav {
   margin: auto;
   display: grid;
   grid-gap: 15px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 10vh;
   text-align: center;
   align-items: center;
}

a.nav__a {
   padding: auto;
   color: grey;
   font-size: 1.2rem;
}

a:link, header a:visited, header a:active {
   text-decoration: none; 
}

/* Seccion servicios */
section#servicios {
   grid-area: servicio;
}

img {
   width: 100px;
   height: 150;
}

section#publicidad {
   grid-area: publicidad;
}
nav {
   grid-area: nav;
}
aside {
   grid-area: publicidad;
}

/* Footer 👍 */
footer {
   grid-area: footer;
   background-color: #;
   width: 100%;
}

.footer {
   text-align: center;
}

.footer__p, .footer__a {
   background-color: #;
}